*.iml
.gradle
.gradle-home
.gradle-user-home
.gradle-local
.derivedData
tmp
.idea
.DS_Store
build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata
/.kotlin

app/android/release/

docs/superpowers/**
#!docs/superpowers/plans/
#!docs/superpowers/plans/2026-04-16-hybrid-currency-sources.md
